<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header" fxLayoutGap="10px">
  <div>CLINIX</div>
  <span *ngIf="authService.authenticated">
    <a mat-button mat-raised-button routerLink="appointments" routerLinkActive="active">Agendamentos</a>
    <a mat-button mat-raised-button routerLink="doctors" routerLinkActive="active">Doctors</a>
  </span>
  <span *ngIf="!authService.authenticated">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>

<router-outlet class="main-content"></router-outlet>