/* You can add global styles to this file, and also import other style files */

.app-header {
  margin-bottom: 50px;
}

.item {
  width: 500px;
}

.item-header {
  font-weight: bold;
}

.open-form {
  margin: auto;
  width: 500px;
}